<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-lg">
                <div class="card bg-dark text-light p-2" style="height: 300px;">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <fa-icon [icon]="icons.faBook"></fa-icon>
                        </div>
                        <h3 class="card-title mb-3">
                            Books
                        </h3>
                        <p class="card-text">“... a mind needs books as a sword needs a whetstone, if it is to keep its
                            edge.”
                        </p>
                        <p>George R.R. Martin, A Game of Thrones </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light p-2" style="height: 300px;">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <fa-icon [icon]="icons.faListAlt"></fa-icon>
                        </div>
                        <h3 class="card-title mb-3">
                            Reading Lists
                        </h3>
                        <p class="card-text">Reading lists are just... awesome. Make one for the year or by genre. Read
                            until your are exhausted and then read some more. It's very mind fulfilling when you check out a
                            book from your reading list. Try it!</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light p-2" style="height: 300px;">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <fa-icon [icon]="icons.faQuoteRight"></fa-icon>
                        </div>
                        <h3 class="card-title mb-3">
                            Quotes
                        </h3>
                        <p class="card-text">Life can be very trying and tiring. Things don’t go as planned and we get
                            discouraged.
                            But we don’t want to be discouraged. So we find words by others to help — quotes.
                            They cheer us on, telling us we can, we are able, get up again, you can do it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>