<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <fa-icon [icon]="faBookOpen"></fa-icon> awesome<span class="text-warning">reads</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2">
                    <a routerLink="/books" class="nav-link">Books</a>
                </li>
                <li *ngIf="isAuthenticated" class="nav-item px-2">
                    <a routerLink="/profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item px-2">
                    <button *ngIf="!isAuthenticated" routerLink="/auth" type="button" class="btn btn-warning">Sign In</button>
                    <button *ngIf="isAuthenticated" type="button" class="btn btn-outline-warning">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>