<div class="row px-5">
    <h2 class="pb-2">Add new book</h2>
    <hr>
    <form>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" placeholder="title">
            <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="author" placeholder="author">
            <label for="author">Author</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="description" placeholder="description" style="height: 150px"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="imageUrl" placeholder="image path">
            <label for="imageUrl">Image URL</label>
        </div>
        <div class="mb-3">
            <label for="quotes" class="form-label">Quotes</label>
            <input type="text" class="form-control" id="quotes">
        </div>
        <button type="button" class="btn btn-dark w-100">Submit</button>
    </form>
</div>