<h1>{{ book.title }}</h1>
<p class="lead">{{ book.author }}</p>
<img src="{{ book.imageUrl }}" style="height: 450px; width: 300px; border: 2px solid rgb(179, 175, 175);" alt="">
<p class="card-text pt-3 px-3">{{ book.description }}</p>
<h3>Quotes from this book</h3>
<div class="row pt-2">
    <div class="col-xs-12" *ngFor="let quote of book.quotes">
        <div class="row text-start px-3 py-2 align-items-center">
            <div class="col-md-10">
                "{{ quote }}"
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-sm me-1 mb-1" style="font-weight: bold;" (click)="onAddQuote(quote, book.author)">+</a>
                <a class="btn btn-danger btn-sm me-1 mb-1" style="font-weight: bold;">X</a>
            </div>
        </div>
    </div>
</div>
<hr>
<button class="btn btn-outline-warning me-2" type="button">Edit</button>
<button class="btn btn-danger me-2" type="button">Delete</button>