<img src="{{ book.imageUrl }}" style="height: 450px; width: 300px; border: 2px solid rgb(179, 175, 175);" alt="">

<div class="col dropdown p-3" *ngIf="isAuthenticated">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
        Settings
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onAddBook()">Add to my books</a></li>
        <li *ngIf="isOwner"><a class="dropdown-item" style="cursor: pointer;" (click)="onNewQuote()">Add new quote</a>
        </li>
        <li *ngIf="isOwner"><a class="dropdown-item" style="cursor: pointer;" (click)="onEditBook()">Edit</a></li>
        <li *ngIf="isOwner"><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteBook()">Delete</a></li>
    </ul>
</div>

<h1>{{ book.title }}</h1>
<p class="lead">{{ book.author }}</p>
<p class="card-text px-3">{{ book.description }}</p>
<p>Pages: {{ book.pages }}</p>

<app-book-quotes [book]="book" [isAuth]="isAuthenticated"></app-book-quotes>
<div *ngIf="displayNewQuote">
    <form (ngSubmit)="onSubmitQuote(f)" #f="ngForm" class="px-3">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="quoteText" placeholder="quote" style="height: 100px" name="quoteText"
                ngModel required>
        </textarea>
            <label for="quoteText">Enter new quote...</label>
        </div>
        <button type="submit" class="btn btn-dark w-100" [disabled]="!f.valid">Add new quote to the book</button>
    </form>
</div>