<div class="row">
    <div class="col-xs-12">
        <h1>{{ book.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ book.author}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{ book.imageUrl }}" alt="" class="img-responsive" style="max-height: 500px;">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-warning">Edit Book</button>
    </div>
    <div class="col-md-4">

        <button type="button" class="btn btn-danger">Delete Book</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ book.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Quotes from this book</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" *ngFor="let quote of book.quotes">
        "{{ quote }}" <button class="btn btn-success" (click)="onAddQuote(quote, book.author)">Add to my quotes</button>
    </div>
</div>