<section class="p-5 pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <img src="../../../assets/dragon-treasures-books.jpg" class="img-fluid border border-light rounded-3" alt="Dragon keeps his treasure"
                    style="border: 1px solid rgba(226, 222, 222, 0.973);">
            </div>
            <div class="col-md-6 p-5">
                <h2>Personal space for your treasures</h2>
                <p class="lead">Unleash your inner reading dragon but first login or register</p>
                <p>Get the your own profile page where you can store your favorite books or quotes. Manage your reading
                    list, add books to different categories or share your list with friends. It's awesome!</p>
                <a routerLink="/auth" style="cursor: pointer;" class="btn btn-outline-dark mt-3">
                    <fa-icon [icon]="faChevronCircleRight" class="me-2"></fa-icon>I want in!
                </a>
            </div>
        </div>
    </div>
</section>