<section class="p-5">
    <div class="container">
        <div *ngIf="profile">
            <div class="row text-center">
                <div class="col-md-6 pt-5">
                    <h2>Welcome, {{ profile.email }}!</h2>
                    <p class="lead">Enjoy your favorite books and quotes!</p>
                    <p class="pt-5">{{ randomQuote }}</p>
                    <div class="btn btn-outline-dark" (click)="onGenerateNewQuote()">Give me another quote &#10084;
                    </div>
                </div>
                <div class="col-md-6 d-flex d-none d-md-block">
                    <img class="image-fluid"
                        src="https://i.pinimg.com/474x/87/21/25/872125d237a04ca04f1515668b3dbdf1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5" *ngIf="profile && profile.books">
        <h1 class="text-center pt-1 py-2">My favorite books</h1>
        <hr class="style-eight">
        <div class="row text-start align-items-center pt-2">
            <div class="col-md-6 text-center" *ngFor="let book of profile.books; let i = index">
                <div routerLink="/books/{{book.id}}" routerLinkActive="active"
                    class="row g-0 border rounded overflow-hidden flex-md-row  mb-2 shadow-sm h-md-250 position-relative"
                    style="cursor: pointer;">
                    <div class="col-md-3 d-flex d-none d-lg-block flex-wrap align-items-center">
                        <img src="{{ book.imageUrl }}" style="max-height: 100%; width: 120px;" alt="">
                    </div>
                    <div class="col-md-8 p-3 d-flex flex-column position-static">
                        <h3>{{ book.title }}</h3>
                        <strong class="d-inline-block mb-2 text-dark">{{ book.author }}</strong>
                        <p class="card-text mb-auto">{{ book.description.slice(0, 150) }}</p>
                    </div>
                    <div class="col-md-1 pt-2">
                        <a class="btn btn-danger" style="font-weight: bold;" (click)="onDeleteBook(i!)">X</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5" *ngIf="profile && profile.quotes">
            <h1 class="text-center pt-1 pt-3">My favorite quotes</h1>
            <hr class="style-eight">
            <div class="row text-center" *ngFor="let quote of profile.quotes">
                <div class="col-md-12 text center">
                    "{{ quote.quote }}"
                    <p class="lead py-2">{{ quote.author }}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>