<section class="bg-dark text-light p-3 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>We &#10084;<span class="text-warning text-brand"> books!</span> Do you?</h1>
                <p class="lead my-4">
                    Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
                </p>
                <button class="btn btn-warning btn-lg">Dive into Books!</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="../../assets/book.svg" alt="">
        </div>
    </div>
</section>