<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>We love<span class="text-warning text-brand"> books!</span> Do you?</h1>
                <p class="lead my-4">
                    There is something magical about reading books. Whether you like fiction or non-fiction, fantasy or
                    sci-fi, there are many books out there. Join fellow book lovers and dive into the magic of reading.
                </p>
                <button type="button" routerLink="/books" class="btn btn-outline-warning btn-lg">Dive in!</button>
            </div>
            <img class="img-fluid w-50 d-none d-lg-block" src="../../../assets/book.svg" alt="">
        </div>
    </div>
</section>