<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Magic of <span class="text-warning">Books</span></h1>
                <p class="lead my-4">
                    We focus on teaching our students the fundamentals of the latest
                    and greatest technologies to prepare them for their first dev role
                </p>
                <button class="btn btn-warning btn-lg">Dive into Books!</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="../../assets/valentin-antonini-0eTLk6dA_Ds-unsplash.jpg"
                alt="">
        </div>
    </div>
</section>